.root .content_wrapper .all-content .all_video .nav_video button {
  padding: 5px;
  border-radius: 5px;
  border: none;
  margin-left: 10px;
  color: #555555;
  font-size: 14px;
}
.root .content_wrapper .all-content .all_video .nav_video button:hover {
  background-color: #dddddd;
}

.root
  .content_wrapper
  .all-content
  .all_video
  .videos
  .box_video {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    gap: 15px;
  }
  
.root
  .content_wrapper
  .all-content
  .all_video
  .videos
  .box_video
  .thong_tin_video {
  width: 100%;
  height: 340px;
  padding: 5px;
  cursor: pointer;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.root
  .content_wrapper
  .all-content
  .all_video
  .videos
  .box_video
  .thong_tin_video
  .avatar_video
  .video_user {
  width: 100%;
  height: 220px;
  background-color: black;
  border: 1px solid black;
  padding: 1px;
}

.root
  .content_wrapper
  .all-content
  .all_video
  .videos
  .box_video
  .thong_tin_video
  .all_tieude {
  display: flex;
  padding: 10px 0px;
}

.root
  .content_wrapper
  .all-content
  .all_video
  .videos
  .box_video
  .thong_tin_video
  .all_tieude
  .avatar_user {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

.root
  .content_wrapper
  .all-content
  .all_video
  .videos
  .box_video
  .thong_tin_video
  .all_tieude
  .tite_ytb{
    padding-left: 13px;
  }

.root
  .content_wrapper
  .all-content
  .all_video
  .videos
  .box_video
  .thong_tin_video
  .all_tieude
  .tite_ytb
  .title {
  white-space:nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 19em; 
  align-items: center;
  padding: 10px 0px;
}

.root
  .content_wrapper
  .all-content
  .all_video
  .videos
  .box_video
  .thong_tin_video
  .all_tieude
  .tite_ytb
  .user{
    color: #555555;
    font-size: 14px;
  }


  