.navUserChannel .channel_img img{
    width: 100%;
    height: 300px;
}



.navUserChannel .nav_video img{
width: 130px;
height: 130px;
border-radius: 50%;
line-height: 130px;
text-align: center;
}


.navUserChannel .nav_video .title_video .tite_ytb .userChannel .user{
font-size: 14px;
color: rgb(99, 99, 99);
}